<div class="h-auto bg-white rounded-lg bg-gray-200">
  <div class="grid grid-cols-12 h-full">
    <div class="col-span-2 h-full">
      <!-- Foto perfil -->
      <div class="flex items-start justify-end mr-2 h-full">
        <!-- imagen -->
        <img
          id="profile_image"
          class="h-12 rounded-full"
          src="https://flowbite.com/docs/images/people/profile-picture-5.jpg"
          alt="Rounded avatar"
        />
      </div>
    </div>
    <div class="col-span-10 h-full">
      <div class="flex flex-col">
        <div class="flex flex-col">
          <!-- title -->
          <div class="flex gap-2">
            <p
              id="name_perfil"
              class="font-semibold text-justify md:text-md md:text-start text-[#000006]"
            >
              <!-- Nombre del comentario -->
              
            </p>
            <!-- name comment -->
            <span class="text-sm text-gray-500">
              <div class="">
                <p>• 1er</p>
              </div>
            </span>
          </div>
          <!-- subtitle -->
          <div class="flex flex-col gap-1">
            <div class="">
              <p id="title_perfil" class="text-sm font-normal">
                <!-- Titulo de la persona -->
                IT SPECIALIST IBM AS400 en Venezolano de Crédito
              </p>
            </div>
            <div class="">
              <p id="date_perfil" class="text-sm text-gray-500">
                <!-- Fecha del comentario -->
                7 de marzo de 2018, EDUARDO fue cliente de Bytes
              </p>
            </div>
            <!-- comentario -->
            <div class="flex w-full gap-2">
              <img class="w-6 h-6" src="src/img/ojo.png" alt="" />
              <p id="" class="text-sm text-gray-500">
                Todos los comentarios de LinkedIn
              </p>
            </div>
          </div>
          <!-- Comentario -->
          <div class="mt-3">
            <p id="comment_perfil" class="text-sm font-normal w-[90%]">
              <!-- Comentario -->
              Buenos dias 100% recomendado personal altamente calificado para
              todas las soluciones de iSeries Os400
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
