<!-- Cards -->
<section class="bg-center relative bottom-8 w-full h-[720px] md:h-24">
  <div
    class="relative h-auto bottom-8 md:top-20 md:bottom-0 md:left-0 md:right-0 ml-8 mr-8"
  >
    <div
      class="flex flex-col gap-32 md:gap-8 w-full unset-x-0 bottom-0 h-20 left-0 md:absolute md:grid md:grid-cols-4 md:place-items-center"
    >
      <!-- Card 1 -->

      <div class="relative flip-card md:col-span-1 md:w-72">
        <div
          class="relative flip-card-inner h-full flex justify-center items-center bg-white rounded-md shadow-lg p-8"
        >
          <div
            style="height: 10rem"
            class="flip-card-front p-8 bg-white shadow-lg h-full border-2 rounded-md"
          >
            <div class="justify-center items-center bg-white">
              <img
                class="h-20 max-w-md"
                src="https://bytescreativos.net/img/iconos/icono-cyberseguridad.svg"
                alt="image description"
              />
            </div>
            <div class="justify-center items-center bg-white">
              <p class="text-2xl text-black">Cyberseguridad</p>
            </div>
          </div>
          <div
            style="height: 10rem"
            class="flip-card-back bg-[#0396D6] rounded-md shadow-lg p-8"
          >
            <p class="text-lg text-center text-white">
              Protección avanzada contra amenazas cibernéticas para asegurar tu
              empresa.
            </p>
          </div>
        </div>
      </div>
      <div class="relative flip-card md:col-span-1 md:w-72">
        <div
          class="relative flip-card-inner h-full flex justify-center items-center bg-white rounded-md shadow-lg p-8"
        >
          <div
            style="height: 10rem"
            class="flip-card-front p-8 bg-white shadow-lg h-full border-2 rounded-md"
          >
            <div class="justify-center items-center bg-white">
              <img
                class="h-20 max-w-md"
                src="https://bytescreativos.net/img/iconos/icono-cursos%20y%20talleres.svg"
                alt="image description"
              />
            </div>
            <div class="justify-center items-center bg-white">
              <p class="text-2xl text-black">Cursos y Talleres</p>
            </div>
          </div>
          <div
            style="height: 10rem"
            class="flip-card-back bg-[#0396D6] rounded-md shadow-lg p-8"
          >
            <p class="text-lg text-center text-white">
              Programas educativos personalizados para fortalecer tus
              habilidades y conocimientos.
            </p>
          </div>
        </div>
      </div>
      <div class="relative flip-card md:col-span-1 md:w-72">
        <div
          class="relative flip-card-inner h-full flex justify-center items-center bg-white rounded-md shadow-lg p-8"
        >
          <div
            style="height: 10rem"
            class="flip-card-front p-8 bg-white shadow-lg h-full border-2 rounded-md"
          >
            <div class="justify-center items-center bg-white">
              <img
                class="h-20 max-w-md"
                src="https://bytescreativos.net/img/iconos/icono-procesador.svg"
                alt="image description"
              />
            </div>
            <div class="justify-center items-center bg-white">
              <p class="text-2xl text-black">Tecnología</p>
            </div>
          </div>
          <div
            style="height: 10rem"
            class="flip-card-back bg-[#0396D6] rounded-md shadow-lg p-8"
          >
            <p class="text-lg text-center text-white">
              Utilizamos la tecnología más actualizada para ofrecer soluciones
              eficientes y de vanguardia.
            </p>
          </div>
        </div>
      </div>
      <div class="relative flip-card md:col-span-1 md:w-72">
        <div
          class="relative flip-card-inner h-full flex justify-center items-center bg-white rounded-md shadow-lg p-8"
        >
          <div
            style="height: 10rem"
            class="flip-card-front p-8 bg-white shadow-lg h-full border-2 rounded-md"
          >
            <div class="justify-center items-center bg-white">
              <img
                class="h-20 max-w-md"
                src="https://bytescreativos.net/img/iconos/icono-test.svg"
                alt="image description"
              />
            </div>
            <div class="justify-center items-center bg-white">
              <p class="text-2xl text-black">Test y Análisis</p>
            </div>
          </div>
          <div
            style="height: 10rem"
            class="flip-card-back bg-[#0396D6] rounded-md shadow-lg p-8"
          >
            <p class="text-lg text-center text-white">
              Creación de pruebas personalizadas y análisis exhaustivo para
              garantizar resultados precisos.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
