<section
  id="background_header"
  style="background-image: url(src/img/contenido/hero-images.png);"
  class="bg-center relative w-full bg-no-repeat bg-cover  bg-blend-multiply"
>
  <div
    class="absolute top-0 left-0 w-full h-full z-1 bg-[#0397d6ea] opacity-80"
  ></div>

  <div
    class="px-4 mx-auto max-w-screen-xl text-center py-32 lg:pt-40 relative overflow-hidden"
  >
    <div class="mb-2">
      <h1
        id="title_header"
        class="opacity-0  text-4xl font-normal tracking-tight leading-none text-white md:text-5xl lg:text-7xl flex flex-col"
      >
        
      </h1>
      <h2 id="subtitle_header" class=" opacity-0 font-bold text-4xl  tracking-tight leading-none text-white md:text-5xl lg:text-7xl flex flex-col">  </h2>
    </div>
    <p
      id="text_header"
      class="opacity-0 mb-8 text-lg font-normal text-white lg:text-xl sm:px-16 lg:px-48"
    >
      
    </p>
    <div id="conoce_mas" class="flex flex-col space-y-4 sm:justify-center sm:space-y-0 gap-8 opacity-0">
      <div class="">
        <a
          href="#"
          class="justify-center items-center py-3 px-5 text-lg font-medium text-center text-white rounded-lg bg-[#0397d6ea] hover:bg-[#219ed3] focus:ring-4 focus:ring-blue-300"
        >
          Conoce mas..
        </a>
      </div>
     
    </div>
  </div>
</section>
