<!-- https://bytescreativos.net/img/contenido/logobytes.png -->
<nav class="fixed top-0 w-full z-20">
  <!-- Botton responsive -->
  <div
    class="text-white flex flex-wrap items-center justify-between mx-auto p-4 relative"
  >
    <a
      href="index.html"
      class="flex items-center space-x-3 rtl:space-x-reverse"
    >
      <img
        id="logo"
        src="https://bytescreativos.net/img/contenido/logobytes.png"
        class="h-14 ml-10"
        alt="bytes logo"
      />
    </a>
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <button
        type="button"
        id="button-responsive"

        class="inline-flex items-center w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 "
      >
        <span class="sr-only">Open main menu</span>
        <img
          src="https://bytescreativos.net/img/iconos/hamburguesa-azul.png"
          alt="hamburguesa"
          class="w-20 h-10 object-cover"
        />
      </button>
    </div>
    <!-- Menu desktop -->
    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
      id="navbar-sticky"
    >
      <ul
        id="ul-sticky"
        class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 text-white "
      >
        <li>
          <a
            href="about.html"
            class="block py-2 px-3 text-md rounded-sm relative group md:p-0"
          >
            Quienes somos
            <span
              class="absolute left-0 bottom-0 h-0.5 w-0 bg-white transition-all duration-300 group-hover:w-full"
            ></span>
          </a>
        </li>
        <li>
          <a
            href="soluciones.html"
            class="block py-2 px-3 text-md rounded-sm relative group md:p-0 "
          >
            Soluciones
            <span
              class="absolute left-0 bottom-0 h-0.5 w-0 bg-white transition-all duration-300 group-hover:w-full"
            ></span>
          </a>
        </li>

        <li>
          <a
            href="servicios.html"
            class="block py-2 px-3 text-md rounded-sm relative group md:p-0"
          >
            Servicios
            <span
              class="absolute left-0 bottom-0 h-0.5 w-0 bg-white transition-all duration-300 group-hover:w-full"
            ></span>
          </a>
        </li>
        <li>
          <a
            href="asesorias.html"
            class="block py-2 px-3 text-md rounded-sm relative group md:p-0 "
          >
            Asesorías
            <span
              class="absolute left-0 bottom-0 h-0.5 w-0 bg-white transition-all duration-300 group-hover:w-full"
            ></span>
          </a>
        </li>
        <li>
          <a
            href="capacitacion.html"
            class="block py-2 px-3 text-md rounded-sm relative group md:p-0"
          >
            Capacitación
            <span
              class="absolute left-0 bottom-0 h-0.5 w-0 bg-white transition-all duration-300 group-hover:w-full"
            ></span>
          </a>
        </li>
        <li>
          <a
            href="contact.html"
            class="block py-2 px-3 text-md rounded-sm relative group md:p-0 "
          >
            Contactenos
            <span
              class="absolute left-0 bottom-0 h-0.5 w-0 bg-white transition-all duration-300 group-hover:w-full"
            ></span>
          </a>
        </li>
      </ul>
    </div>
    <!-- Menu responsive -->
    <div
      class="absolute  top-[115%] z-20 left-1/2 bottom-1/2 h-auto w-[90%] md:hidden flex-col items-center space-y-4 md:space-y-0 md:space-x-6  md:bg-transparent md:p-0 shadow-md md:shadow-none -translate-x-1/2 -translate-y-1/2"
    >
      <div class=" navUp animate flex flex-col w-full h-[450px]  bg-white" id="menu-responsive">
        <div class="w-full h-5 p-4">
          <p class="flex justify-end h-6 cursor-pointer" id="close-menu">
            <img
              src="https://bytescreativos.net/img/iconos/close.png"
              class="h-full object-cover"
              alt=""
            />
          </p>
        </div>
        <!-- Links responsives -->
        <div class="flex flex-col justify-between h-full p-2">
          <a class="text-gray-500" href="about.html">
            <div
              class="flex items-center w-full border-b h-8 p-2 hover:bg-gray-100"
            >
              <img
                src="https://bytescreativos.net/img/iconos/plus.png"
                class="h-4 object-cover"
                alt="bytes logo"
              />
              Quienes somos
            </div>
          </a>
          <a class="text-gray-500" href="soluciones.html">
            <div
              class="flex items-center w-full border-b h-8 p-2 hover:bg-gray-100"
            >
              <img
                src="https://bytescreativos.net/img/iconos/plus.png"
                class="h-4 object-cover"
                alt="bytes logo"
              />
              Soluciones
            </div>
          </a>
          <a class="text-gray-500" href="servicios.html">
            <div
              class="flex items-center w-full border-b h-8 p-2 hover:bg-gray-100"
            >
              <img
                src="https://bytescreativos.net/img/iconos/plus.png"
                class="h-4 object-cover"
                alt="bytes logo"
              />
              Servicios
            </div>
          </a>
          <a class="text-gray-500" href="asesorias.html">
            <div
              class="flex items-center w-full border-b h-8 p-2 hover:bg-gray-100"
            >
              <img
                src="https://bytescreativos.net/img/iconos/plus.png"
                class="h-4 object-cover"
                alt="bytes logo"
              />
              Asesorías
            </div>
          </a>
          <a class="text-gray-500" href="capacitacion.html">
            <div
              class="flex items-center w-full border-b h-8 p-2 hover:bg-gray-100"
            >
              <img
                src="https://bytescreativos.net/img/iconos/plus.png"
                class="h-4 object-cover"
                alt="bytes logo"
              />
              Capacitación
            </div>
          </a>
          <a class="text-gray-500" href="capacitacion.html">
            <div
              class="flex items-center w-full border-b h-8 p-2 hover:bg-gray-100"
            >
              <img
                src="https://bytescreativos.net/img/iconos/plus.png"
                class="h-4 object-cover"
                alt="bytes logo"
              />
              Capacitación
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
