<section
      class="w-full gap-4 grid grid-cols-12 border container mx-auto relative"
    >
      <div class="md:col-span-6 col-span-12 grid grid-cols-2 gap-2">
        <div>
          <img
            class="h-full max-w-full rounded-lg object-cover"
            src="https://cdn.pixabay.com/photo/2019/08/02/07/49/graduated-4379009_640.jpg"
            alt=""
          />
        </div>
        <div>
          <img
            class="h-full max-w-full rounded-lg object-cover"
            src="https://cdn.pixabay.com/photo/2023/11/06/14/45/ai-generated-8369776_960_720.png"
            alt=""
          />
        </div>
        <div>
          <img
            class="h-full max-w-full rounded-lg object-cover"
            src="https://img.freepik.com/foto-gratis/plano-medio-estudiantes-graduados-felices_23-2148499037.jpg?t=st=1742695598~exp=1742699198~hmac=1e9231badba86975e9ec00457d4afece1b7fd330e127f7f6f81d1fe026cba9de&w=740"
            alt=""
          />
        </div>
        <div>
          <img
            class="h-full max-w-full rounded-lg object-cover"
            src="https://img.freepik.com/foto-gratis/feliz-mujer-graduada-manto-regocijo-riendo-sonriendo_176420-14226.jpg?t=st=1742695647~exp=1742699247~hmac=b0db58d1cdf86347750cecdff90345fca3a0ba53d6339cd07f77da5a7bc3f155&w=996"
            alt=""
          />
        </div>
      </div>
      <div
        class="md:col-span-6 col-span-12 flex flex-col justify-center items-center"
      >
        <section class="bg-white">
          <div
            class="py-8 px-4 text-center flex flex-col justify-center items-center"
          >
            <h1
              class="mb-4 text-4xl font-sembibold tracking-tight leading-none text-[#0396D6] md:text-5xl lg:text-6xl "
            >
             Nuestros Graduados Destacados
            </h1>
            <p
              class="mb-8 text-lg font-normal  lg:text-xl sm:px-16 "
            >
            Con esfuerzo y dedicación, nuestros estudiantes han alcanzado sus metas. ¡Conviértete en el próximo éxito!
            </p>
            <div
              class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 "
            >
              <a
                href="#"
                class="inline-flex bg-[#0397d6] hover:bg-[#4ebceb] justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg  focus:ring-4 focus:ring-blue-300 "
              >
                ¡Quiero Capacitarme!
                <svg
                  class="w-3.5 h-3.5 ms-2 rtl:rotate-180"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 10"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9"
                  />
                </svg>
              </a>
             
            </div>
          </div>
        </section>
      </div>
    </section>