<section
  class="w-full gap-4 grid grid-cols-12 container mx-auto relative mb-4"
>
  <div class="md:col-span-6 col-span-12  grid grid-cols-2 gap-2">
    <div>
      <img
        class="max-w-full rounded-lg object-cover"
        src="src/img/contenido/graduados_2.jpg "
        alt=""
      />
    </div>
    <div>
      <img
        class="h-[100%] max-w-full rounded-lg object-cover"
        src="src/img/contenido/cursogan.png"
        alt=""
      />
    </div>
    <div class="">
      <img
        class="max-w-full rounded-lg object-cover w-full h-full"
        src="src/img/contenido/curso_bfc.jpg"
        alt=""
      />
    </div>
    <div class="">
      <img
        class="max-w-full rounded-lg object-cover w-full h-[20rem]"
        src="src/img/contenido/graduados_1.jpg"
        alt=""
      />
    </div>
  </div>
  <div class="md:col-span-6 col-span-12  grid grid-cols-2 gap-2">
    <div>
      <img
        class="max-w-full rounded-lg h-[100%] object-cover"
        src="src/img/contenido/foto.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-[100%] max-w-full rounded-lg object-cover"
        src="src/img/contenido/mimix_min.jpg"
        alt=""
      />
    </div>
    <div class="col-span-2">
      <img
        class="max-w-full rounded-lg object-cover w-full h-full"
        src="src/img/contenido/mimix2.jpg"
        alt=""
      />
    </div>
    
  </div>
 
</section>
