<!-- footer -->
<!-- footer -->
<footer class="bg-[#202020]">
  <div class="w-full max-w-screen-xl p-4 py-6 lg:py-8">
    <div class="grid grid-cols-2">
      <div class="mb-6 md:mb-0 flex justify-center col-span-2 md:col-span-1">
        <a href="index.html" class="flex">
          <img
            src="src/img/contenido/logobytes.png"
            class="h-16 opacity-40 me-3"
            alt="FlowBite Logo"
          />
        </a>
      </div>
      <div class="grid grid-cols-2 gap-8 sm:gap-6 col-span-2 md:col-span-1">
        <div class="col-span-1">
          <ul class="text-gray-500 font-xs">
            <li class="mb-1">
              <a
                href="about.html"
                class=" text-white opacity-40 font-sm hover:text-white hover:opacity-100"
                >Quienes somos</a
              >
            </li>
            <li class="mb-1">
              <a
                href="soluciones.html"
                class=" text-white opacity-40 font-xs hover:text-white hover:opacity-100"
                >Soluciones</a
              >
            </li>
            <li class="mb-1">
              <a
                href="servicios.html"
                class=" text-white opacity-40 font-xs hover:text-white hover:opacity-100"
                >Servicios</a
              >
            </li>
            <li class="mb-1">
              <a
                href="asesorias.html"
                class=" text-white opacity-40 font-xs hover:text-white hover:opacity-100"
                >Asesoria</a
              >
            </li>
            <li class="mb-1">
              <a
                href="capacitacion.html"
                class=" text-white opacity-40 font-xs hover:text-white hover:opacity-100"
                >Capacitación</a
              >
            </li>
            <li class="mb-1">
              <a
                href="contacto.html"
                class=" text-white opacity-40 font-xs hover:opacity-100"
                >Contacto</a
              >
            </li>
          </ul>
        </div>

        <div class="col-span-1">
          <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase"></h2>
          <p class="w-full text-white opacity-40 font-xs hover:text-white hover:opacity-100">
            Av. Rómulo Gallegos, Ed. Pascal Caracas - Venezuela
            info@bytescreativos.net +58 (0424) 188.5393
          </p>
        </div>
      </div>
    </div>

    <div class="flex justify-end">
      <!-- redes sociales -->
      <div class="grid grid-cols-3 gap-4">
        <div class="">
          <a target="_blank" href="https://www.instagram.com/bytescreativos.ve/">
            <box-icon
              class="h-12 w-12"
              color="#9ca3af"
              type="logo"
              name="instagram"
            ></box-icon>
          </a>
        </div>
        
        <div class="">
          <a target="_blank" href="https://www.linkedin.com/company/bytes-creativos/">
            <box-icon
              class="h-12 w-12"
              color="#9ca3af"
              name="linkedin"
              type="logo"
            ></box-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
